body {
    font-family: 'Open Sans' , sans-serif;
    background-color: rgb(236, 158, 232);
}
#result{
    height: 120px;
    background-color: rgb(236, 158, 232);
}
#history{
    text-align: right;
    height: 20px;
    margin: 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
button:nth-child(4){
    font-size: 20px;
    background-color: rgb(112, 175, 228);
}
button:nth-child(8){
    font-size: 20px;
    background-color: rgb(230, 238, 126);
}
button:nth-child(12){
    font-size: 20px;
    background-color: rgb(130, 228, 117);
}
button:nth-child(16){
    font-size: 20px;
    background-color: rgb(248, 159, 143);
}
button:nth-child(18){
    font-size: 20px;
    background-color: rgb(238, 162, 238);
}
#container {
    width: 1000px;
    height: 550px;
    background-image: url("images.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto;

}
#calculator {
    width: 320px;
    height: 520px;
    background-color:coral(204, 14%, 93%);
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}
#keyboard{
    height: 480px;
    background-color: rgb(223, 236, 163);
}
.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px
}
.number{

    background-color: rgb(241, 172, 236);
}
 .empty{
    background-color: rgb(223, 236, 163);
} 
.number,
.operator {
    cursor: pointer;
}
.operator:active,
.number:active{
    font-size: 13px;
}